body {
    background-color: #eaffd0;
}

h2 {
    color: #03c4a1;
}

h3 {
    color: #03c4a1;
}

img:hover {
    background-color: gold;
}

hr {
    border-color: gray;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 5%;
}


table td,
table th {
    padding: 0;
    /* 'cellpadding' equivalent */
}
